<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/stylesheet/style.css">
    <title>Gallery</title>
</head>
<body>
    

    <h3>Brez Aerospace Family</h3>

    <div class="gallery">
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Instructor-A.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/WWII-Airforce-Vet.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Winter-Flying.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Weather-or-Not.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Success-Story-2.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Solo-Day.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Recruiting-WIA.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/PPL-days.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Owners.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Owners-Brez.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Owner-ADSB.jpg">
    
        <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/Night-Flying.jpg">
    
    </div>
    
    
    

</body>
</html>