<%- include('partials/header') %>

    <h1 class="title">Welcome, <%= user ? user.name : "Aviator" %>
    </h1>
    <img src="/Users/alexafaulkison/code/sei/projects/flight-schedule/public/stylesheets/images/brezAero.png">


    <%- include('partials/footer') %>