<%- include('partials/header') %>

    <h1 class="title">Welcome, <%= user ? user.name : "Aviator" %>
    </h1>
    <img class="main-image" height=200 src="./stylesheets/images/brezAero.png">


    <%- include('partials/footer') %>