.body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(165, 161, 161);
  margin: 0;
  font-size: large;
}

.nav {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(209, 113, 28);
  text-align: right;
  color: white;
  text-decoration: none;

}
.title{
  text-align: center;
  text-decoration: underline;
}
.nav-link {
  font-family: 'Raleway', sans-serif;
  display: inline;
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 15px;

}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.collapse-navbar-collapse {
  display: inline;
  list-style-type: none;
}
#avatarPhoto {
  border-radius: 50%;
  display: inline;
  margin-top: 10px;

}

#brez-title {
  font-size: 30px;
  text-decoration: underline;
}

.links {
  color: white;
  
}

.button {
  background-color: black;
  color: white;
  border-color:  rgb(209, 113, 28);
  border-radius: 15%;

}

.page-links {
  color: white;
}

.schedule-head {
  text-decoration: underline;
  
  padding: 10px;
}

.schedule-avatar {
  border-radius: 50%;
}

#show-page {
  text-align: center;
  text-decoration: none;
}

#add-aircraft {
  text-align: center;
}

#schedulePlane {
  text-align: center;
}

#EditPlane {
  font-weight:bolder;
  text-decoration: underline;
}

.add-aircraft {
  text-align:center;
}

.index-page {
  text-align: center;
}

.card {
  text-align: center;
}

.edit-user {
  text-align: center;
}

#newSchedule {
  text-align: center;
}
.new-schedule {
  text-align: center;
}

.schedule-list {
  text-align: center;
}
.imgur-embed-pub{
  text-align: center;
}